html {
  background-color: black;
  color: white;
  font-family: serif;
}

header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  align-self: flex-end;
  border-radius: 30px;
}

.navName {
  margin-bottom: 0%;
  margin-left: 10px;
  font-size: 38pt;

}

nav {
  display: flex;
  align-self: flex-end;
  margin-right: 25px;
  width: 200px;
  justify-content: space-evenly;
}

#content {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: grey;
  border-radius: 30px;
}